@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");



header {
  
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
  padding: 0px;
}


html { 
    background-color: white;
}

a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{display: inline-block;}/* horizontal menu */

img{
    max-width: 1000%;
}



/*end reset*/

body{
padding:0;
margin:0;
font-family: "roboto", sans-serif !important;
font-style: normal; font-variant: normal; font-weight: 100;
font-size: 24;
  
    
}

h1,h2,h3,h4,h5,h6{
margin:0;
font-family: "roboto", sans-serif;
font-style: normal; font-variant: normal; font-weight: 200;
    font-size: 24;
    
}

p{
	font-size: 24;
    margin:0px;
    color: black;
}
ul.punkte {
	
    margin:0;
	padding:0;
    list-style-type: disc;
}




.main {
    padding: 20px 0px 0px 0px;
    background-color: white;
    /* padding: 118px 0; */
        
}

.main h1 {
    font-size: 90px;
    text-align: center;
    /* text-transform: capitalize; */
    color: black;
    margin-bottom: 36px;
}

.main h2 {
    font-size: 50px;
    text-align: center;
    /* text-transform: capitalize; */
    color: black;
    margin-bottom: 36px;
}

p.footer {
    text-align: center;
    font-size: 16px;
    color: black;
}
p.footer a {
    color: black;
	text-decoration:none;
}
p.footer a:hover {
    color: black;
	text-decoration:none;
}


.hidden {
    display: none;
}


/*-- responsive media queries --*/
@media (max-width: 5000px){
    
    .main {
		padding: 20px 0px 0px 0px;
        background-color: white;
	}
    
	.content {
		width: 36%;
	}	
}

@media (max-width: 1440px){
    
    .main {
		padding: 20px 0px 0px 0px;
        background-color: white;
	}
    
	.content {
		width: 36%;
	}	
}
@media (max-width: 1366px){
    
    .main {
		
        padding: 20px 0px 0px 0px;
        background-color: white;
	}
    
	.content {
		width: 37.5%;
	}	
}
@media (max-width: 1280px){
	
	.main {
		/* padding: 92px 0; */
        padding: 20px 0px 0px 0px;
        background-color: white;
	}	
}

@media (max-width: 1080px){
    
    .main {
        padding: 20px 0px 0px 0px;
        background-color: white;
    }
    
	.content {
		width: 45%;
	}
	
}

@media (max-width: 1024px){
    
    .main {
        padding: 20px 0px 0px 0px;
        background-color: white;
    }
    
	.content {
		margin: 82px auto 82px;
	}
	
}
@media (max-width: 991px){
    
    .main {
        padding: 20px 0px 0px 0px;
        background-color: white;
    }
    
	.content {
	width: 47.5%;
	}
		
}

@media (max-width: 800px){
    
    .main {
        padding: 20px 0px 0px 0px;
        background-color: white;
    }
    
	p.footer {
		font-size: 14px;
	}
	.content {
		width: 58.5%;
	}
		
}

@media (max-width: 768px){
    
    .main {
        padding: 20px 0px 0px 0px;
        background-color: white;
    }
	
}

@media (max-width: 736px){
    
    .main {
        /* padding: 65px 0; */
        padding: 20px 0px 0px 0px;
        background-color: white;
    }
    
    .main h1 {
        font-size: 34px;
        margin-bottom: 0px;
    }

    .main h2 {
    font-size: 34px;
    margin-bottom: 0px;
    }

    .content {
        margin: 53px auto 53px;
    }
	
}

@media (max-width: 667px){
    
    .main {
        /* padding: 65px 0; */
        padding: 20px 0px 0px 0px;
        background-color: white;
    }
        
    .content {
        width: 65%;
    }
	
}

@media (max-width: 640px){
    
    .main {
        /* padding: 65px 0; */
        padding: 20px 0px 0px 0px;
        background-color: white;
    }
        
    .content {
        width: 66%;
    }	
}

@media (max-width: 600px){
    
    .main {
        /* padding: 65px 0; */
        padding: 20px 0px 0px 0px;
        background-color: white;
    }
        
    .content {
        width: 73%;
    }
	
}

@media (max-width: 568px){
    
    .main {
        /* padding: 65px 0; */
        padding: 20px 0px 0px 0px;
        background-color: white;
    }
        
        
.content {
    width: 76.5%;
}
	
}
@media (max-width: 480px){
    
    .main {
        /* padding: 65px 0; */
        padding: 20px 0px 0px 0px;
        background-color: white;
    }
        
    .content {
        width: 88%;
    }
    
    .main h1 {
        font-size: 30px;
    }

    .main h2 {
        font-size: 30px;
    }
	
}
@media (max-width: 414px){
    
    .main {
    /*  padding: 37px 0; */
    padding: 20px 0px 0px 0px;
    background-color: white;
    }
    
    .cover {
        height: 114px;
        left: 23px;
        top: 27px;
        width: 114px;
        background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        -moz-background-size: cover;
    }	

    

p.footer {
    line-height: 1.8em;
	padding:0 0.5em;
}

    .content {
        margin: 30px auto 30px;
    }
    
}
@media (max-width: 384px){


    .main {
        /* padding: 85px 0; */
        padding: 20px 0px 0px 0px;
        background-color: white;
    }
    
    .content {
        margin: 57px auto 57px;
    }	
}

@media (max-width: 375px){
    
    .main {
        padding: 20px 0px 0px 0px;
        background-color: white;
    }

    .content {
        margin: 59px auto 59px;
    }
	
}

@media (max-width: 320px){
	
	.ui-slider-range {
		height: 28%;
	}
	
	.main {
		/* padding: 53px 0; */
        padding: 20px 0px 0px 0px;
        background-color: white;
	}
    
	.main h1 {
		font-size: 27px;
	}
    
    .main h2 {
		font-size: 27px;
	}
    
	
}



/* Top Button */

#myBtn {
  display: none;
  position: fixed;
  bottom: 280px;
  right: 45px;
  z-index: 99;
  font-size: 14px;
  font-family: monospace;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 0px;
    
}

#myBtn:hover {
  background-color: grey;
}



/* Links-Buttons */

.button::before, .button::after {
 
  position: absolute;
  content: '';
  transition: all .5s;
}

.button {
    
  /*display: inline-block;*/
  display: block;
  margin: auto;

  padding: 10px 30px;
  color: black;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  vertical-align: middle;
  font-family: monospace, sans-serif;
  text-decoration: none;
  font-size: 12 px;
  transition: all .5s;
  background-color: white;
}

.button::before {
    
  bottom: -15px;
  height: 15px;
  width: 100%;
  left: 8px;
  -webkit-transform: skewX(45deg);
          transform: skewX(45deg);
  background-color: black;
}

.button::after {
    
  right: -15px;
  height: 100%;
  width: 15px;
  bottom: -8px;
  -webkit-transform: skewY(45deg);
          transform: skewY(45deg);
  background-color: black;
}

.button:active {
  margin-left: 10px;
  margin-top: 10px;
}
.button:active::before {
  bottom: -5px;
  height: 5px;
  left: 3px;
}
.button:active::after {
  right: -5px;
  width: 5px;
  bottom: -3px;
}

nav {
  padding: 0 10px 10px 10p;
  width: auto;
  background: transparent;
  text-align: center;
}

ul {
  width: auto;
  margin: 0 auto;
  padding: 0;
}

ul li {
  list-style: disc;
  display: inline-block;
  padding: 15px;
}

ul li:hover {
  background: #F5F5F5;
}

ul li a{
  color: black;
  text-decoration: none;
  padding: 20px;
}

.toggle {
  width: 100%;
  padding: 0px 20px 10px 20px;
  background: #001f44 transparent;
  text-align: right;
  box-sizing: border-box;
  color: #fff;
  font-size: 30px;
  display: none;
}

@media (max-width: 768px){
    .toggle {
      display: block;
    }
    ul {
      width: 100%;
      display: none;
    }

    ul li {
      display: block;
      text-align: center;
    }
  .active {
    display: block;
  }
  
}

